.mainGroupPageDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBarDiv {
    width: 80%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    padding-left: 25px;
    justify-content: space-between;
    align-items: center;
}

.searchBarDiv:focus-within,
.dropDownDiv select:focus-within {
    border: 4px solid rgba(110, 110, 230, 0.334);
}

.searchInp {
    width: 90%;
    outline: none;
    padding: 0px 20px;
    font-size: 16px;
    border: none;
}

.dropDownDiv {
    width: 200px;
    border-radius: 10px;
    border: 1px solid rgb(195, 195, 195);
}

.dropDownOptions {
    position: absolute;
    width: 198px;
    top: 183px;
    z-index: 888;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(195, 195, 195);
}

.dropDownOptions p:hover {
    background-color: rgb(249, 249, 249);
}

.dropDownOptions :last-child:hover {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media(max-width: 800px) {
    .searchAndDropDownDiv {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .searchBarDiv {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
}

@media(max-width: 1199px) {
    .dropDownMain {
        width: 80%;
        border-radius: 10px;
    }

    .searchBarDiv {
        margin-right: 0px;
    }

    .dropDownOptions {
        top: 242px;
    }
}