.group-card-root {
    transform: scale(1);
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    transition: all .2s ease-out;
}

.group-card-root:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 0px 2px rgba(102, 51, 153, 0.22);
    /* border: 1px solid red; */
}

.maintag {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media(max-width: 400px){
    .groupcard{
        width: 330px;
    }
}